html, body{
    max-width: 100vw;
    max-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    margin: 0%;
    background-color: whitesmoke;
}

#body{
    display: flex;
    flex-direction: column;
}

#head {
    background-color: bisque;
    height: 5vh;
    width: 100vw;
}

#main {
    min-height: 80vh;
    width: 100vw;
    border-bottom: 1px;
    border-color: black;
}

#footer {
    background-color:#318aac;
    height: 15vh;
    width: 100vw;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#nav button {
    background-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    color: #318aac !important;
    font-size: 15px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border-left: 2px solid;
    border-right: 2px solid;
    border-left-color: #318aac;
    border-right-color: #318aac;
    transition: all 1s ease;
}


#nav button:hover {
    background: #318aac;
    color: #fff !important;
}

#nav div:nth-child(1){
    padding-left: 700px;
}

#nav div:nth-child(2){
    margin-right: 30px;
}

#nav div:nth-child(2) button {
    background-color: transparent;
    border-color: transparent;
    height: 100%;
}

#nav div:nth-child(2) button img {
    width: 30px;
    height: 30px;
}



